#nav-dot {
    left: 266px;
}

footer {
    top: 180%
}

.faq-title {
    display: flex;
    position: absolute;

    top: 190px;

    height: 50px;
    width: 100vw;

    justify-content: center;
    align-items: center;
}

.faq-title h1 {
    font-size: 34px;
    font-weight: 600;
}

.search-button {
    width: 40px;
    height: 40px;
    border: 1px solid red;

    top: 25px;
    position: relative;
}

.dong-gu-ra-mi-15{
    top: 7px;
    left: 7px;
    position: relative;
    width: 13px;
    height: 13px;
    border: 2px solid white;
    border-radius: 50%;
}

.line4 {
    width: 10px;
    border: 1px solid white;
    top: 8px;
    left: 18px;
    position: relative;
    transform: rotate(45deg);
}

.line3 {
    height: 1px;
    
    top: -25px;
    position: relative;

    width: 650px;
    background-color:white;

}

#search-container {
    display: flex;
    position: absolute;

    top: 300px;

    height: 100px;
    width: 100vw;

    justify-content: center;
    align-items: center;

    border: 1px solid lime;
}

#text-input {
    position: relative;
    border: none;
    left: 50px;
    width: 400px;
    height: 50px;
    background-color: #0F0921;

    top: -25px;
    font-size: 20px;
    color: white;
}

#channel-talk-sticky {
    height: 1550px;
}
