.dong-gu-ra-mi-4 {  
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #fcffad 15%,#dee449 25%, #305f02 90%);

    position: absolute;
    top: 57%;
    left: 68%;
    transform: translate(-50%, -50%);
}
.dong-gu-ra-mi-5 {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, rgb(123, 231, 255) 14%, rgb(50, 144, 255) 30%, rgba(0, 33, 65, 0.63) 90%);
    z-index: 0;

    position: absolute;
    top: 500px;
    left: 1050px;

    
}

.dong-gu-ra-mi-6 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #FAFEB4 10%,#E0E86C 25%, #8CAC49 90%);

    position: absolute;
    top: 1450px;
    left: 93%;
    transform: translate(-50%, -50%);
}

.dong-gu-ra-mi-7 {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #DCC95C 10%,#DDB34E 50%);

    position: absolute;
    top: 290%;
    left: 85%;
    transform: translate(-50%, -50%);  
}

.dong-gu-ra-mi-8 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: skyblue;
    
    

    position: absolute;
    top: 300%;  
    left: 8%;
    transform: translate(-50%, -50%);  
}

.dong-gu-ra-mi-9 {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #DCC95C 10%,#DDB34E 50%);

    position: absolute;
    top: 230%;
    left: 35%;
    transform: translate(-50%, -50%);
}


.eap-hack{

    position: absolute;
    top: 420px;
    left: 305px;
    transform: translate(-20%, -100%);

    font-size: 95%;
    color: white;

}

.ggom-gua-ggi{
    position: absolute;
    top: 52.2%;
    left: 21.5%;
    transform: translate(-20%, -100%);
    font-size: 220%; 
    line-height: 200%;
    color: white;   

    font-family: 'Pretendard Variable';
    display: inline;
}


.up{
    color: skyblue;

    display: inline;
}


.line1 {
    background-color: white;

    width: 100px;
    height: 2px;

    position: absolute;
    top: 600px;
    left: 16.5%;
    transform: translate(-50%, -50%);
}

.jup-su-gi-gan {
    color: white;
    font-size: 120%;

    position: absolute;
    top: 100%;
    left: 24%;
    transform: translate(-50%, -50%);

    display: inline;
    line-height: 200%;
}


.sexy {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 20px;
    font-size: 110%;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    flex : auto;
    margin: 0 0;
    right: 0%;

    transition: all 200ms;

}

.sexy:hover {
    animation-timing-function: ease-in-out;
    opacity: 0.5;
}

#first-button {
    top: 0%;
}

#second-button {
    top: 20%;  
}

#third-button {
    top: 40%;  
}

#fourth-button {
    top: 60%;  
}

#fifth-button {
    top: 80%;  
}


#sexy-buttons {
    width : 450px;
    height : 375px;

    position: absolute;
    top: 100%;
    right: 155px;

    display: flex;
    flex-direction: column;
    align-content: stretch;
    
}


.ji-gum-background {
    width : 1100px;
    height : 850px;

    left:200px;
    right:200px;
    top: 1100px;
    position: absolute;
    
    border:1px solid white;
    background-color : rgb(255,255,255,0.05);
    border-radius: 45px;

    backdrop-filter: blur(30px); 

    margin: 0 auto;

}

#ji-gum-buttons {
    z-index: -1;
    position: absolute;
    width : 1100px;
    height : 70px;

    top: 30px;

    font-size: 19px;

    display: flex;
    justify-content: space-around;

}

#won-seo-jak-seong,
#eap-hack-won-seo-jae-chul,
#first-seo-ryu-jeon-hyung,
#second-pyung-ga,
#gyoul-gwa-bal-pyo {
    cursor: pointer;
    user-select: none;
    z-index: 3;
    font-weight: 200;
    opacity: 0.5;
    
}

#won-seo-jak-seong{
    font-weight: 600;
    opacity: 1;
}

.ji-gum-isnt-ji-won-gi-gan {
    top: 1450px;
    right: 200px;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 140%;
}


.dong-gu-ra-mi-10{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, rgb(123, 231, 255) 14%, rgb(50, 144, 255) 30%, rgba(0, 33, 65) 90%);

    position: absolute;
    top: 268%;
    left: 60%;
    transform: translate(-50%, -50%);

}


.dong-gu-ra-mi-11{
    width: 480px;
    height: 480px;
    border-radius: 50%;
    background-image: linear-gradient(220deg, rgb(156, 221, 255) 10%, rgb(72, 175, 228) 32%, rgba(0, 51, 77, 0.51) 88%);

    position: absolute;
    top: 310%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.dong-gu-ra-mi-12{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, rgb(123, 231, 255) 14%, rgb(50, 144, 255) 30%, rgb(0, 39, 77) 92%);
    z-index: 1;
    box-shadow: 2px 2px 5px;
    position: absolute;
    top: 314%;
    left: 26%;
    transform: translate(-50%, -50%);
}


.jup-su-button {
    width : 300px;
    height : 30px;

    position: absolute;
    top: 460px;
    left: 200px;
    text-align: center;
    justify-content: center;
    border:1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-content: stretch;

    font-size: 115%;
    font-weight: 100;
    opacity: 80%;
    cursor: pointer;
    border-radius: 20px;
    position: absolute;

    color: lightgray;
    padding: 15px 40px;

    user-select: none;
}

#nav-dot {
    
    left: 17px;
}