
body {
    background-color:  #0F0921;
    overflow-y: scroll;
    overflow-x: hidden;

    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


html, body {
    min-height: 100%
}

body::-webkit-scrollbar {
    width: 17px;
    background-color:  #0F0921;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;

    border: 4.79px solid #0F0921; /*border로 여백처럼*/
}

body::-webkit-scrollbar-thumb:hover {
	background-color:gainsboro;
}

::-webkit-scrollbar-corner {
	background: transparent;
}


h1 {
    color: white;
    position: center;
    font-size: 120%;
    left: 200px;
    top: 130px;

    display: inline;
}

h1 a {
    color: white;
    text-decoration-line: none;
    position: absolute;
    display: block;
    font-weight: 900;
    font-size: 150%;
    height: 40px; 
    width: 250px;
    left: 200px;
    top: 20px;
}

ul a {
    color: white;
    text-decoration-line: none;
}

a {
    color: white;
    text-decoration-line: none;
}

li {
    display: inline;
}

#wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
}


.lnb {
    color: white;
    position: absolute; 
    display: flex; 
    

    justify-content: space-between;

    position: absolute;
    right: 200px; 
    top: 30px;
    
    width: 420px;
    
}

footer {
    position: absolute;
    top: 330%;

    margin-top: auto;

    left: 0%;

    padding-left: 700px;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-right: 200px;
    background-color: #0F1B2E;

    text-align: right;
}


.footer-address {
    color: gainsboro;
    font-size: 85%;
}


#footer-nav{
    display: flex;
    justify-content: space-between;

    font-weight: bold;

    right: 2200%;
    width: 650px;
    height: 30px;
}

#footer-nav a{
    font-weight: 600px;
}

.copyright {
    color: white;
}

#header-nav {
    text-align: right;

    height: 70px;
}

#nav-dot-container {
    display: flex;

    position: absolute;
    right: 200px; 
    top: 60px;
    
    height: 10px;
    width: 420px;
}

#nav-dot {
    background-color: rgb(136, 255, 9);

    height: 8px;
    width: 8px;

    border-radius: 50%;
    position: absolute;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

#channel-talk-sticky {
    z-index: 2;
    height: 2530px;

    width: 60px;
    right: 22px;
    position: absolute;
}

#channel-talk-container {
    position: sticky;
    top: 610px;
    right: 100px;

    height: 55px;
    width: 55px;
    border-radius: 23px;
    background-color: #496AD0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#sexy-white-mass {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}