
.school-name {
    color: white;

    width: 500px;
    height: 100px;
    font-weight: bolder;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-45%, -50%);

    font-size: 170%; 
}

.school-video-first {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-48%, -52%);
    border: none;
}

.school-video-second {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-52%, -52%);
}

.homepage-button {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    color: black;
    border: none;
    padding: 17px 100px;

    font-size: 24px;
    font-weight: 600;
    cursor: pointer;

    border-radius: 12px;
}

.dong-gu-ra-mi {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #fcffad 15%,#dee449 25%, #305f02 90%);

    position: absolute;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
}


.dong-gu-ra-mi-2 {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: linear-gradient(220deg, rgb(156, 221, 255) 10%, rgb(72, 175, 228) 32%, rgba(0, 51, 77, 0.51) 88%);

    position: absolute;
    top: 125%;
    left: 15%;
    transform: translate(-50%, -50%);

    z-index: -1;
}


.dong-gu-ra-mi-3 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #7be8ff 5%, #339aff 25%, #004891 90%);

    position: absolute;
    top: 130%;
    left: 85%;
    transform: translate(-50%, -50%);

    z-index: -1;
}


.MOU-gi-up {
    color: white;

    width: 350px;
    height: 350px;

    position: absolute;
    top: 120%;
    left: 0;
    font-size: 29px; 

    display: flex;
    flex-direction: column;
    width: 100vw;


    align-items: center;
    justify-content: center;
}


.first-line, .second-line, .third-line {
    display: flex;

    width: 1200px;
    height: 55px;
    left: 0;

    justify-content: space-around;

    padding-top: 25px;
}

.third-line {
    width: 1000px;
}


.square {
    width: 170px;
    height: 50px;
    border-radius: 17px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chi-up-leaul {
    color: white;
    position: absolute;
    top: 200%;
    left: 0%;

    display: flex;

    justify-content: center;
    width: 100vw;
    height: 700px;
}

.chi-up-leaul-title {
    color: white;
    font-size: 27px; 
    font-weight: 700;
}

.chi-up-leaul-subtitle-container {
    top: 10%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    flex-direction: row;
    width: 80px;
    height: 20px;
}
.chi-up-leaul-subtitle {
    color: white;
    font-size: 110%; 
    height: 20px;
    width: 40px;
}
.tiny-square {
    background-color: #7CBBF9;
    width: 20px;
    height: 20px;
    border-radius: 2px; 
}

.line2 {
    background-color: #9A9A9A;

    width: 1350px;
    height: 3px;

    position: absolute;
    top: 640px;
}

#container-2020, #container-2021, #container-2022, #container-2023{
    display: flex;
    
    width:60px;
    height: 450px;
    justify-content: center;

} 

#percent-2020, #percent-2021, #percent-2022, #percent-2023{
    font-size: 120%;
    font-weight: bold;
    color: white;
    position: absolute;
}

#percent-2020 {
    top: 2px;
}

#percent-2021 {
    top: -18px;
}

#percent-2022 {
    top: 6px;
}

#percent-2023 {
    top: 18px;
}

.year{
    font-size: 120%;
    font-weight: bold;
    color: white;

    position: absolute;
    bottom: 0px;
}


#graph-container{
    display: flex;
    left: 150px;

    bottom: 0;
    position: absolute;

    justify-content: space-around;

    width: 350px;
    height: 450px;
}

#graph-2020, #graph-2021, #graph-2022, #graph-2023 {
    opacity: 0%;
    width: 60px;
    bottom: 75px;
    z-index: -1;
    border-radius: 10px;
    background-image:  linear-gradient(#7CBBF9 100%, white 10%);
    animation-timing-function: ease-in-out;

    position: absolute;

    cursor: pointer;
}

.graph-gray-2020{
    height: 328px;
    position: absolute;
}

.graph-gray-2021 {
    height: 348px;
    position: absolute;
}

.graph-gray-2022 {
    height: 324px;
    position: absolute;
}

.graph-gray-2023 {
    height: 312px;
    position: absolute;
}

.graph-gray-2020, .graph-gray-2021, .graph-gray-2022, .graph-gray-2023 {
    width: 60px;
    bottom: 75px;
    z-index: -2;
    border-radius: 10px;
    background-color: rgb(62, 62, 62);
    opacity: 70%;
    cursor: pointer;
}


#text-container {
    display: flex;
    right: 300px;
    top: 200px;
    position: absolute;
    flex-direction: column;
    width: 400px;
    height: 300px;
    align-items: center;
}

#sexy-title {
    top: 25%;
    position: absolute;
    font-size: 225%;
    font-weight: bold;
    color: white;
}

#sexy-number {
    top: 40%;
    position: absolute;
    font-size: 600%;
    font-weight: bold;
    color: white;
    -webkit-box-reflect: below -25px linear-gradient(to bottom, rgba(0,0,0,0.0) 40%,  rgba(0,0,0,0.2));
}

.dong-gu-ra-mi-14 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #7be8ff 5%, #339aff 25%, #004891 90%);

    position: absolute;
    top: 285%;
    left: 12%;
    transform: translate(-50%, -50%);

    z-index: -2;
}

.dong-gu-ra-mi-13 {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #fcffad 15%,#dee449 25%, #305f02 90%);

    position: absolute;
    top: 250%;
    right: 5%;
    z-index: -1;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #C4C4C4;

    position: absolute;
    bottom: 55px;
}

#nav-dot {
    
    left: 129px;
}

#channel-talk-sticky {
    height: 2600px;
}